@model PassengerEditModel

<form id="f" name="f" data-db-type="passenger" data-db-action="edit" data-controller-action="EditPassenger">
    <div class="row">
        <div class="col-9">
            <input type="hidden" asp-for="PassengerId" />
            <div class="form-group row mb-1">
                <label asp-for="PassengerName" class="col-form-label col-3"></label>
                <div class="col-9">
                    <input asp-for="PassengerName" class="form-control" />
                    <span asp-validation-for="PassengerName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Phone" class="control-label col-3"></label>
                <div class="col-9">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label asp-for="Picture" class="control-label col-3"></label>
                <div class="col-9">
                    <input type="file" asp-for="Picture" class="form-control col-2" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src="/Pictures/@ViewData["CurrentPic"]" style="width:150px" class="img-thumbnail" />
        </div>
    </div>
</form>
