@model Train

<form id="f" name="f" data-db-type="train" data-db-action="edit" data-controller-action="EditTrain">
    <input type="hidden" asp-for="TrainId" />
    <div class="form-group row mb-1">
        <label asp-for="TrainName" class="col-form-label col-3"></label>
        <div class="col-9">
            <input asp-for="TrainName" class="form-control" />
            <span asp-validation-for="TrainName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label asp-for="StationAddress" class="control-label col-3"></label>
        <div class="col-9">
            <input asp-for="StationAddress" class="form-control" />
            <span asp-validation-for="StationAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-1">
        <label asp-for="Destination" class="control-label col-3"></label>
        <div class="col-9">
            <input asp-for="Destination" class="form-control col-2" />
            <span asp-validation-for="Destination" class="text-danger"></span>
        </div>
    </div>

</form>
